{
    "projectName":"mcp",
    "knowledge_base_id":"MOPBJP5NME",
    "region":"ap-northeast-2",
    "aws": {
        "access_key_id": "your_access_key_here",
        "secret_access_key": "your_secret_key_here",
        "session_token": "your_session_token_here"
    }
 }